# 과제 2 - entropy 구하고, Gain 함수 구현하기 (lee hye min)

In [2]:
# 모듈 불러오기
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
age                    14 non-null object
income                 14 non-null object
student                14 non-null object
credit_rating          14 non-null object
class_buys_computer    14 non-null object
dtypes: object(5)
memory usage: 640.0+ bytes

In [4]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [16]:
new_feature = df["class_buys_computer"].value_counts()
yes = new_feature[0]
no = new_feature[1]
new_feature

yes    9
no     5
Name: class_buys_computer, dtype: int64

In [18]:
import math
def getEntropy(df, feature) :
    new_feature = df[feature].value_counts()
    yes = new_feature[0] #yes개수
    no = new_feature[1] #no개수
    count = len(df)
    entropy = ((-yes/count) *(math.log((yes/count),2)))+((-no/count) * (math.log((no/count),2)) )
    return(entropy)

In [19]:
getEntropy(df, "class_buys_computer")

0.9402859586706309

In [22]:
info_D = getEntropy(df, "class_buys_computer") # 목표변수에 대한 Entropy 를 구하기
columns = list(df.loc[:, df.columns != "class_buys_computer"]) 
#['age', 'income', 'student', 'credit_rating']
    
age = df[columns[0]].value_counts() #나이
income = df[columns[1]].value_counts() #수입
student = df[columns[2]].value_counts() #신분
credit_rating = df[columns[3]].value_counts() #연봉

In [47]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) 
    # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    #['age', 'income', 'student', 'credit_rating']
    
    #age를 Gain으로
    age = df[columns[0]].value_counts()
    youth = ((age[0]/count) *((-2/5)*(math.log((2/5),2))) + ((-3/5) * (math.log((3/5),2))) )
    middle_aged = ((age[1]/count) *((-4/4)*(math.log((4/4),2)))  )
    senior = ((age[2]/count) *((-3/5)*(math.log((3/5),2))) + ((-2/5) * (math.log((2/5),2))) )
    age = youth + middle_aged + senior
    age=info_D-age
    result=[age]
    
    #income을 Gain으로
    income = df[columns[1]].value_counts() 
    high = ((income[0]/count) *((-2/4)*(math.log((2/4),2))) + ((-2/4) * (math.log((2/4),2))) )
    medium = ((income[1]/count) *((-4/6)*(math.log((4/6),2))) + ((-2/6) * (math.log((2/6),2))) )
    low = ((income[2]/count) *((-3/4)*(math.log((3/4),2))) + ((-1/4) * (math.log((1/4),2))) )
    income = high + medium + low
    income = info_D - income
    result.append(income)
    
    #student를 Gain으로
    student = df[columns[2]].value_counts() 
    yes = ((student[0]/count) *((-6/7)*(math.log((6/7),2))) + ((-1/7) * (math.log((1/7),2))) )
    no = ((student[1]/count) *((-3/7)*(math.log((3/7),2))) + ((-4/7) * (math.log((4/7),2))) )
    student = yes+no
    student=info_D-student
    result.append(student)
    
    #credit_rating을 Gain으로
    credit_rating = df[columns[3]].value_counts() 
    fair = ((credit_rating[0]/count) *((-6/8)*(math.log((6/8),2))) + ((-2/8) * (math.log((2/8),2))) )
    excellent = ((credit_rating[1]/count) *((-3/6)*(math.log((3/6),2))) + ((-3/6) * (math.log((3/6),2))) )
    credit = fair+excellent
    credit=info_D-credit
    result.append(credit)
    

    
    return(result)

In [48]:
getGainA(df, "class_buys_computer") #list 형식으로 출력

[-0.3458484654821532,
 -1.0026786248859174,
 -0.27936268508680295,
 -0.45187296959173073]