# DT Assignment1

# Data Loading

In [3]:
import pandas as pd 
import numpy as np

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

# 1. Gini 계수를 구하는 함수 만들기

<img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fb8ZU7n%2Fbtqv0WgKx36%2FpwXSdPYV8fUCmTiR16UCD0%2Fimg.png">

- Input: df(데이터), label(타겟변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [5]:
income = data['income'].value_counts()
income

medium    6
high      4
low       4
Name: income, dtype: int64

In [6]:
income[0]

6

In [7]:
def get_gini(df, label):
        label = data[label].value_counts()
        m= label[0]
        l=label[1]
        h=label[2]
        gini = l/len(df)
        return gini

In [8]:
get_gini(data,'income')

0.2857142857142857

In [11]:
#변수 'income'의 이진분류 결과 구하기
def get_gini(df, label):
    gini = len(label)
    return gini

In [12]:
get_gini(data,'class_buys_computer')

19

# 2. Feature의 Class를 이진 분류로 만들기
 ## ex) {A,B,C} -> ({A}, {B,C}), ({B}, {A,C}), ({C}, {A,B})

- Input: df(데이터), attribute(Gini index를 구하고자 하는 변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [32]:
from itertools import combinations

def get_binary_split(df, attribute):
    result=data.sort_values(by=attribute, ascending=False) #sorting해주기
    result = result[attribute]
    a = pd.unique(data[attribute]) #unique사용해서 age의 데이터 값 리스트로 반환
    b = list(combinations(a, 2)) #리스트 조합의 결과 반환하는 combination 함수
    result = list(b)
    
    return result

In [33]:
get_binary_split(data,"age")

[('youth', 'middle_aged'), ('youth', 'senior'), ('middle_aged', 'senior')]

참고 : https://brownbears.tistory.com/459

# 3. 다음은 모든 이진분류의 경우의 Gini index를 구하는 함수 만들기
- 위에서 완성한 두 함수를 사용하여 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다.

In [22]:
def get_attribute_gini_index(df, attribute, label):
        '''
           이 부분을 채워주세요
                               '''
    return result

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [23]:
get_attribute_gini_index(pd_data, "age", "class_buys_computer")

NameError: name 'get_attribute_gini_index' is not defined

여기서 가장 작은 Gini index값을 가지는 class를 기준으로 split해야겠죠?

In [24]:
min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items())

NameError: name 'get_attribute_gini_index' is not defined

# 다음의 문제를 위에서 작성한 함수를 통해 구한 값으로 보여주세요!
## 문제1) 변수 ‘income’의 이진분류 결과를 보여주세요.

## 문제2) 분류를 하는 데 가장 중요한 변수를 선정하고, 해당 변수의 Gini index를 제시해주세요.

## 문제3) 문제 2에서 제시한 feature로 DataFrame을 split한 후 나눠진 2개의 DataFrame에서 각각   다음으로 중요한 변수를 선정하고 해당 변수의 Gini index를 제시해주세요.

In [25]:
##문제1 답안
def get_gini(df, label):
        label = data[label].value_counts()
        m= label[0]
        l=label[1]
        h=label[2]
        gini = l/len(df)
        return gini

In [26]:
get_gini(data,'income')

0.2857142857142857

In [27]:
#문제2 문제2) 분류를 하는 데 가장 중요한 변수를 선정하고, 해당 변수의 Gini index를 제시해주세요.
#가장 중요한 변수 : age

Min(Giniage) = 0.357

SyntaxError: can't assign to function call (<ipython-input-27-7b639aa76cf3>, line 4)

In [28]:
##문제3 답안
from itertools import combinations

def get_binary_split(df, attribute):
    result=data.sort_values(by=attribute, ascending=False) #sorting해주기
    result = result[attribute]
    a = pd.unique(data[attribute]) #unique사용해서 age의 데이터 값 리스트로 반환
    b = list(combinations(a, 2)) #리스트 조합의 결과 반환하는 combination 함수
    result = list(b)
    
    return result

In [20]:
get_binary_split(data,"age")

[('youth', 'middle_aged'), ('youth', 'senior'), ('middle_aged', 'senior')]